body {
    font-size: 16px;
}

header {
    background-color: black;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

h1 {
    color: white;
    padding: 20px;
    margin-bottom: 20;
    font-size: 28px;
    text-align: center;
}

a {
    color: red;
}

#bio,
#bioImage,
#contact {
    float: left
}

#bio {
    width: 70%;
}

#contact {
    width: 30%;
}

#bioImage {
    margin-right: 20px;
}